@model IEnumerable<HMSS.Models.Departement>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create">Create A New Department</a>
    <br /><button onclick="location.href='@Url.Action("Index", "Patient")'" class="btn btn-primary mb1 bg-green">Patients list</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_Dep">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_Dep">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_Dep">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
